body {
  margin: 0;
 padding-top: 30px;
 padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: #feefdd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  color: #a0a;
}
.header:h1{
  text-align: center;
}

.container{
  margin: 0;
}

@media(min-width: 900px){
  .container {
    margin: auto;
    width: 50%;
  
    padding: 10px;
  }
}
